.app {
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: grid;
  justify-items: center;
}

.app__cover {
  position: absolute;
  background-color: rgba(0, 0, 0, .2);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.app__container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-items: center;
  justify-items: center;
  width: min(100%, 300px);
  padding: 0 10px;
  z-index: 1;
}

.bg__image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.bg__image img {
  min-height: 100vh;
  min-width: 100vw;
  object-fit: cover;
  object-position: center;
}



